<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="/favicon.ico" />

		<title>storygo</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet" />

		<link rel="stylesheet" href="story.css" />

		<script>
			const ImageGeneration = {{ if .replicate }}true{{ else }}false{{ end }},
				ImageModels = {{ .images }},
				ImageStyles = {{ .styles }};
		</script>
	</head>
	<body>
		<div id="page">
			<div class="flex col">
				<h2 class="relative">
					World Bible

					<div id="model" class="dropdown">
						<div class="options">
							{{- range .models }}
								<div class="model" data-key="{{ .Key }}">
									<div class="name{{ if .Vision }} vision{{ end }}">{{ .Name }}</div>

									<div class="tags">
										{{- range .Tags }}
											<div class="tag" title="{{ . }}" style="background-image:url('/icons/tags/{{ . }}.svg')"></div>
										{{- end }}
									</div>
								</div>
							{{- end }}
						</div>
					</div>
				</h2>

				<div class="flex">
					<textarea id="context" rows="10" placeholder="Character: Kael, a rogue mage who is secretly afraid of the dark. Goal: To find the lost library of Ash. Setting: The rain-slicked, neon-lit streets of Neo-Veridia..."></textarea>

					<div>
						<div id="preview"></div>
						<input type="file" id="image" accept="image/*" />
					</div>
				</div>

				<div class="flex">
					<div class="flex center">
						<label class="flex center sm" for="tag">
							<button id="create-tags" title="Suggest a set of tags based on the story"></button>
							Add Tag:
						</label>
						<input id="tag" type="text" placeholder="e.g., Fantasy, Thriller, Dark...">
					</div>

					<div id="tags" class="flex center"></div>
				</div>
			</div>

			<div class="flex col full relative">
				<h2 class="flex">
					<div class="flex center">
						<button id="mode" title="Switch to story outline/overview mode"></button>

						<span id="mode-name">Story</span>
					</div>

					<div class="buttons">
						<button id="create-image" title="Generate an image of the story at the current point"></button>
						<div class="sep"></div>
						<button id="import" title="Import a story from a json safe-file"></button>
						<button id="export" title="Export the story as json, for later re-import"></button>
						<button id="save" title="Export the story as a PDF"></button>
						<button id="delete" title="Clear the entire story and the image"></button>
					</div>
				</h2>

				<textarea id="text" placeholder="The last ship left at dawn..."></textarea>

				<div id="text-status"></div>
			</div>

			<div class="flex col">
				<h2>Next Step</h2>

				<div class="flex relative">
					<textarea id="direction" rows="5" placeholder="A sudden storm begins to roll in..."></textarea>

					<button id="suggest" title="Suggest possible next directions"></button>
					<button id="generate" title="Start/Continue the story"></button>

					<div id="direction-status"></div>
				</div>
			</div>

			<input type="file" id="import-file" accept="application/zip" />
		</div>

		<div id="modal">
			<div class="modal-content">
				<div class="modal-title">Modal Title</div>
				<div class="modal-body">
					<p>Modal Body</p>
				</div>
				<div class="modal-buttons">
					<button id="modal-cancel">Cancel</button>
					<button id="modal-confirm">Confirm</button>
				</div>
			</div>
			<div class="modal-background"></div>
		</div>

		<script src="jszip.min.js"></script>
		<script src="dai.js"></script>
		<script src="story.js"></script>
	</body>
</html>