* {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
	background: transparent;
}

html,
body {
	font-size: 16px;
	font-family: "Lexend", sans-serif;
	color: #cad3f5;
	background: #181926;
}

#page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 95%;
	width: 1200px;
	height: 95%;
	overflow: hidden;
}

h2 {
	margin: 0;
	font-size: 20px;
}

input,
textarea {
	width: 100%;
	height: 100%;
	padding: 4px 6px;
	resize: none;
	border: 1px solid #5b6078;
	background: #24273a;
}

button {
	cursor: pointer;
	border: none;
}

label {
	font-size: 18px;
	font-weight: 500;
}

[disabled] {
	cursor: not-allowed;
}

input[type="file"] {
	display: none;
}

input[type="text"] {
	height: auto;
}

.buttons,
.flex {
	display: flex;
	gap: 10px;
	flex-shrink: 0;
	overflow: hidden;
	justify-content: space-between;
}

.buttons {
	align-items: center;
	gap: 6px;
}

.flex.full {
	height: 100%;
	flex-shrink: 1;
}

.flex.col {
	flex-direction: column;
	gap: 6px;
}

.flex.center {
	align-items: center;
}

.relative {
	position: relative;
}

#preview {
	position: relative;
	cursor: pointer;
	width: 180px;
	height: 100%;
	border: 1px solid #5b6078;
	background: #24273a;
}

#preview::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	transform: translate(-50%, -50%);
	background-image: url(icons/upload.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
}

#preview.uploading::before {
	background-image: url(icons/loading.svg);
	animation: rotating 2s linear infinite;
}

#preview.image::before {
	display: none;
}

#tag {
	width: 240px;
}

.tag {
	display: flex;
	gap: 4px;
	color: #181926;
	background: #b7bdf8;
	cursor: pointer;
	padding: 1px 7px;
	border-radius: 4px;
}

.tag:hover::before {
	content: "✕";
	font-size: 12px;
	position: relative;
	top: 2px;
	font-weight: 900;
}

#context {
	height: 180px;
}

#direction {
	height: 140px;
}

#suggest,
#generate,
#mode,
#import,
#export,
#markdown,
#delete,
#preview::before,
#preview.image {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#suggest,
#generate {
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-image: url(icons/send.svg);
}

#suggest {
	bottom: 44px;
	background-image: url(icons/thought.svg);
}

.generating #generate {
	background-image: url(icons/stop.svg);
}

#mode.overview {
	background-image: url(icons/blueprint.svg);
}

#mode,
#import,
#export,
#markdown,
#delete {
	width: 25px;
	height: 25px;
}

#mode {
	background-image: url(icons/book.svg);
}

#import {
	background-image: url(icons/restore.svg);
}

#export {
	background-image: url(icons/export.svg);
}

#markdown {
	background-image: url(icons/markdown.svg);
}

#delete {
	background-image: url(icons/delete.svg);
}

@keyframes rotating {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}